<!-- Ketki's page on the website -->
{% extends "base.html" %}
{% block title %}About Ketki
{% endblock %} 

{% block pagecontent %}
<div class="jumbotron" >
 <h1><u>About Ketki</u></h1>

<p>Hi! Thanks for checking out my website. I have built this website using the new skills I have learned in my Computer Science Class. Here are some facts about me:
 </p>
<br>
<p> I'm 15 years old, and a junior at Del Norte High School.
 </p>
<br>
<p> My favorite subject is English, followed by Computer Science :)
</p>
<br>
<p> Outside of school, I am a dancer, singer, and I play the flute.
</p>
<br>
<p> In my free time, I like to talk to my friends, watch Netflix, and cook some new recipes.
</p>

</div>
{% endblock %} 
