<!-- Ketki's page on the website -->
{% extends "base.html" %}
{% block title %}History of Comedy
{% endblock %} 

{% block pagecontent %}
 <h1><u>About Ketki</u></h1>

Hi! Thanks for checking out my website. I have built this website using the new skills I have learned in my Computer Science Class. Here are some facts about me:

I'm 15 years old, and a junior at Del Norte High School.
My favorite subject is English, followed by Computer Science :)
Outside of school, I am a dancer, singer, and I play the flute.
In my free time, I like to talk to my friends, watch Netflix, and cook some new recipes.



{% endblock %} 
