
{% extends "base.html" %}
{% block title %}Embed Demo
{% endblock %} 

{% block pagecontent %}
<h2><u>Embedded Content</u></h2>
<br>



<p></p>
<hr>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#projectscope">Project Scope</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#replit">Repl.it</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#studyjournal">Study Journal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#youtube" >YouTube</a>
  </li>
</ul>


<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="projectscope">
<!--    <iframe width="800" height="600" src="https://docs.google.com/document/d/e/2PACX-1vRDiPJeLCtVVyugBmEBU_F9kzbvLMr9_7A3yFefrn_L5R61JEa30WSKVPrXKHHoDjNApIS3WhUCM79F/pub?embedded=true"></iframe>-->
    Project Scope
  </div>
  <div role="tabpanel" class="tab-pane fade" id="replit">
<!--    <iframe height="400px" width="100%" src="https://repl.it/@KetkiChakradeo/Playground?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>-->
    Repl.It Content
  </div>
  <div role="tabpanel" class="tab-pane fade" id="studyjournal">
<!--    <iframe src="https://docs.google.com/document/d/e/2PACX-1vRTdhEgiY7VWvufTwHq2v-zbaJsd_yWhaIRLfWXbQD8cDA2DdvK9hv-iia3gSJj035sraWYehsgZHfX/pub?embedded=true"></iframe>  </div>-->
    Study Journal
  </div>
  <div role="tabpanel" class="tab-pane fade" id="youtube">
<!--    <iframe width="560" height="315" src="https://www.youtube.com/embed/aJOTlE1K90k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
    Youtube embed
  </div>

</div>
<p></p>


{% endblock %}

