 {% comment %}Iniyaa's Page on the website!{% endcomment %}
{% extends "base.html" %}
{% block title %}Knock Knock
{% endblock %} 

{% block pagecontent %}
Knock knock. Who’s there? Wooden shoe. Wooden shoe who? Wooden show like to hear another joke?
<html>
  <br>
  <p>Knock knock. Who’s there? Wa. Wa who? What are you so excited about?</p>
  <br>
  <p>Knock knock. Who’s there? Boo. Boo hoo? Why are you crying?</p>
  <br>
  <p>Knock knock. Who’s there? Atch. Atch who? Bless you!</p>
  <br>
  <p>Knock knock. Who’s there? Harry. Harry who? Harry up and answer the door?</p>
  <br>
  <p>Knock knock. Who’s there? Mikey. Mikey who? Mikey doesn’t fit in the key hole!</p>
  <br>
  <p>Knock knock. Who’s there? Stopwatch. Stopwatch who? Stopwatch you’re doing and let me in!</p>
  <br>
  <p>Knock knock. Who’s there? Hike. Hike who? I didn’t know you liked Japanese poetry!</p>
  <br>
  <p>Knock knock. Who’s there? Yah. Yah who? No, I prefer google.</p>
  <br>
  <p>Knock knock. Who’s there? Candice. Candice who? Candice joke get any worse?!?!?</p>
  <br>
  <p>Knock knock. Who’s there? Justin. Justin who? Justin the neighborhood and thought I’d come over.</p>
<html>
{% endblock %} 

